.clan-tag {
  text-transform: uppercase;
}

.clan-description {
  word-wrap: break-word;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.card-footer {
  display: flex;
}

.trophies-container {
  margin-left: auto;
}

.cr-card {
  text-decoration: none;

  .mat-card:hover {
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.4), 0 2px 2px 0 rgba(0,0,0,.24), 0 1px 5px 0 rgba(0,0,0,.22);
  }
}