.clan-tag {
  text-transform: uppercase;
}

.clan-description {
  word-wrap: break-word;
}

.trophy {
  color:#ff4081;
}

.card-footer {
  display: flex;
}

.trophies-container {
  margin-left: auto;
}