<div fxLayout="column" style="height: 100%">

	<div>
		<md-toolbar color="primary">
			Clans Royale
			<a md-button routerLink="/"><i class="material-icons">home</i></a>
			<a md-button routerLink="/new">Post Clan</a>
			<a md-button routerLink="/about" style="margin-left: auto">About</a>
		</md-toolbar>
		<a routerLink="/new" class="fab-post-clan" md-fab mdTooltip="Post Clan" mdTooltipPosition="left"><i class="material-icons">add</i></a>
	</div>

	<div fxFlex>
		<router-outlet></router-outlet>
	</div>

	<div>
		<md-toolbar>
			<small style="text-align: center">
				Made with <3 by Jason
			</small>
		</md-toolbar>
	</div>
</div>