.clan-name {
  margin-bottom: 0;
}

.clan-header {
  display: flex;
}

.clan-trophies {
  margin-left: auto;
}

.clan-tag {
  text-transform: uppercase;
}

.no-wrap {
  white-space: nowrap;
}

.comment-box {
  width: 100%;
}

.btn-container {
  display: flex;
}

.submit-btn {
  margin-left: auto;
}

.no-comments {
  text-align: center;
}

.clan-footer {
  display: flex;
}

.posted-by {
  margin-left: auto;
}