.fab-post-clan {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 1em;
}

.logo-thumb {
  height: 70%;
  outline: none;
  cursor: pointer;
}

.title {
  margin-left: auto;
  outline: none;
  cursor: pointer;
}